.EditBookPopup {
    display: inline-block;
    width: 100px;
}

.AddBookButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    height: 3em;
    width: 3em;
    border: 1px solid #000;
    background: #0d6efd;;
    font-size: 2em;
    color: white;
}

.Inventory {
    width: 0.1rem;
    max-width: 0.1rem;
}
