.EditBookPopup {
    display: inline-block;
    width: 100px;
}

.AddBookButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 70px;
    width: 70px;
    border-radius: 30px;
    font-size: 30px;
}