.Popup {
    display: inline-block;
    width: 8em;
    margin: 0.3em;
}

.AddBookButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    height: 3em;
    width: 3em;
    border: 2px solid #000;
    background: #0d6efd;
    font-size: 2em;
    color: white;
}

.Link {
    color: "0D6EFD";
    text-decoration: underline;
}

.BookTable {
    flex-grow: 1;
    overflow: auto;
    position: relative;
    height: auto;
    top: 5rem;
}

.BookTableParent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.ActualBookTable {
    position: relative;
    width: 100%;
}

.TableHeaderCell {
    position: sticky;
    top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: #f6efef !important;
}

.NavHead {
    position: sticky;
    top: 0;
    background: #f6efef;
    z-index: 1;
}

.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
}

.CheckBoxLabels {
    margin: auto;
    display: block;
}

.btn-group button {
    color: white;
}

.btn-group {
    position: relative;
    left: 4px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.QuantityBox {
    border-radius: 0;
    margin-left: 0.1em;
    margin-right: 0.1em;
    width: 7em;
}

.NeedTitle {
    font-weight: bold;
}

.SearchBar {
    position: fixed;
    top: 1em;
    right: 0.5em;
}

.SearchBarInput {
    width: 20em;
}

.TableCell {
    width: 2em;
}

.BiggerCell {
    max-width: 3em;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.StatsHomeLink {
    position: absolute;
    cursor: pointer;
    left: 1em;
    top: 1em;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar {
    display: block !important;
}

.FakeLink {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: rgb(11, 11, 245);
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    bottom: 0.3em;
    left: 1em;
}

.Link {
    background: none !important;
    font-family: arial, sans-serif;
    color: 0e6dfd;
    text-decoration: underline;
    cursor: pointer !important;
}

.AddPopup {
    margin: 1em;
    width: 20em;
}

.CPStyleMobile {
    color: #a70102;
    font-family: "Permanent Marker", cursive;
    top: 0.2em;
}

.CPStyleFull {
    color: #a70102;
    font-family: "Permanent Marker", cursive;
}

@media only screen and (min-width: 1000px) {
    .CPStyleMobile {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .CPStyleFull {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .CPStyleMobile {
        display: none;
    }
}

@media (orientation: portrait) {
    .FlipPhone {
        display: show;
    }
}

@media (orientation: landscape) {
    .FlipPhone {
        display: hidden;
    }
}

.GiftButtons {
    position: relative;
    right: -17em;
    margin: 0.5em;
}

.Center {
    position: relative;
    top: 5em;
    left: 25%;
    transform: translateX(-50%);
}

.TextCenterDiv {
    position: relative;
    top: 5em;
    text-align: center;
}

.Statistic {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    /*width: 25%;*/
    width: 100%;
    text-align: center;
}

.StatDescription {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.StatText {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.StatsArea {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    padding: 2rem;
}

@media only screen and (max-width: 600px) {
    .StatsArea {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.GiftHeader {
    color: #a70102;
    font-family: "Permanent Marker", cursive;
    position: relative;
    top: 0.2em;
    left: 0%;
}

.statsNav {
    display: flex;
    padding: 14px 16px;
}
.statsNav .navItem {
    flex: 1 1 0%;
    text-decoration: none;
}

.CenterAdminPage {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    top: 0px;
}

.ManagePopupDropdown {
    position: relative;
    margin: auto;
    width: 50%;
    left: 33%;
    bottom: 1em;
}

.Genre-Label {
    position: relative;
    top: 1em;
}

.DateSubmitButton {
    position: relative;
    left: 1em;
}

.Hidden {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .SearchBarMobile {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .SearchBarFull {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .SearchBarMobile {
        display: none;
    }
}
